.filterBarStyle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #333333;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%; /* Ensures ul spans the full width of the parent */
        padding: 1rem;
        list-style: none;
        text-align: center;

        li {
            color: white;
            font-size: 22px;
            width: 100%;
            cursor: pointer;
        }
    }
}
