.nav{
    display: flex;
    flex-direction: row;
    ul{
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        li{
            list-style: none;
            padding: 1rem;
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}