.footerStyle {
    display: flex;
    flex-direction: column;
    width: 100%;

    section {
        position: relative;
        display: flex;
        flex-direction: column;

        .footerImage {
            width: 100%;
            height: 350px;
            object-fit: cover;
            filter: brightness(50%);
            object-position: 100% 70%;
        }

        span {
            display: flex;
            height: 300px;
            width: 100%;
            background-color: black;
        }

        .subscribtionStyle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px;
            border-radius: 10px;

            .sectionSubscription {
                padding: 3rem 0;

                h4 {
                    margin-bottom: 10px;
                    font-size: 30px;
                    color: white;
                }

                p {
                    margin-bottom: 20px;
                    font-size: 16px;
                    color: white;
                }
            }

            .hancockLogo {
                margin-top: 10px;
                width: 80%;
                height: auto;
            }
        }
    }

    .mailInputStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;

        svg {
            width: 30px;
            height: 40px;
            font-size: 30px;
            background-color: #EFEFEF;
            color: black;
            border: none;
            padding: 0 0.5rem;
        }

        input {
            height: 40px;
            border: 1px solid #ccc;
            border: none;
            width: 250px;
            padding: 0 1rem;
        }

        button {
            background-color: #4A6FBF;
            color: #fff;
            border: none;
            cursor: pointer;
            height: 40px;
            width: 100px;

            &:hover {
                background-color: rgb(3, 102, 208);
            }
        }
    }
}